<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".txt" #>

<#
	for (int i = 0; i < 4; i++)
    {
#>
	<#= i+1 #> kere merhaba.
<#
	}
#>