<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".txt" #>

Kareler:
<#
	for (int i = 0; i < 4; i++)
    {
		Square(i);
    }
#>
Liste bitişi.
<#+ // Sınıf özelliği bloğu
    void Square(int i)
    {
#>
		<#= i #> sayısının karesi <#= i*i #>
<#+
    }
#>